<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Example App</title>
    </head>
    <body>
        <h1>
            tieu de trang
        </h1>
        {{{body}}}
    </body>
</html>